 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 0 471px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 38px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-1 .u-group-1 {
  width: 245px;
  --radius: 10px;
  height: auto;
  min-height: 312px;
  margin: 11px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 5px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 264px auto 0;
}

.u-section-1 .u-image-1 {
  width: 192px;
  --radius: 10px;
  height: auto;
  min-height: 253px;
  background-image: url("images/MR_photo.png");
  background-size: 110%;
  margin: -304px auto 51px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-section-1 .u-group-3 {
  width: 245px;
  --radius: 10px;
  height: auto;
  min-height: 312px;
  margin: 11px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 5px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 264px 9px 0;
}

.u-section-1 .u-image-2 {
  width: 192px;
  --radius: 10px;
  height: auto;
  min-height: 253px;
  background-image: url("images/FE_photo.jpg");
  background-size: auto 155%;
  background-position: 55.35% 0%;
  margin: -304px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 388px;
}

.u-section-1 .u-container-layout-7 {
  padding: 19px 30px;
}

.u-section-1 .u-group-5 {
  width: 245px;
  --radius: 10px;
  height: auto;
  min-height: 312px;
  margin: 11px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 5px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 264px auto 0;
}

.u-section-1 .u-image-3 {
  width: 192px;
  --radius: 10px;
  height: auto;
  min-height: 253px;
  background-image: url("images/MN_photo.jpg");
  background-size: auto 110%;
  background-position: 50% 40.12%;
  margin: -304px auto 51px;
}

.u-section-1 .u-container-layout-9 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 488px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-1 .u-group-1 {
    width: 180px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-1 .u-group-3 {
    width: 180px;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-1 .u-group-5 {
    width: 180px;
  }

  .u-section-1 .u-image-3 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 50px;
    margin-left: 570px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}